@mixin colors {
    --color-white: #fff;
    --color-low-grey: #f5f5f5;
    --color-grey: #bfbfbf;
    --color-black: #242221;
    --color-blue: #1e24bd;
    --color-brown: #bd741e;
    --color-transparent: #00000000;
}