.all-products__filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-16);
    text-align: center;
    margin-bottom: var(--spacing-32);

    @include breakpoint($break-small) {
        display: flex;
    }
}

.all-products__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(#{pxToRem(350px)}, 1fr));
    gap: var(--spacing-40);
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.card__img-frame {
    border: var(--border-width-1) solid var(--color-brown);
    border-radius: var(--border-radius-4);
    height: #{pxToRem(274px)};
}

.card__img {
    object-fit: contain;
    height: 100%;
}