.header {
    height: var(--header-height);
    background-color: var(--color-low-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-12) var(--spacing-32);
    position: fixed;
    z-index: var(--zindex-header);
    top: 0;
    left: 0;
    right: 0;
}

.header__logo {
    height: #{pxToRem(20px)};
    width: #{pxToRem(148px)};
}

.main {
    margin-top: var(--header-height);
    padding: var(--spacing-64) var(--spacing-32);
    
}

.all-products__filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-16);
    text-align: center;
    margin-bottom: var(--spacing-32);

    @include breakpoint($break-small) {
        display: flex;
    }
    
}
.all-products__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--img-min-width), 1fr));
    gap: var(--spacing-40);
}

.card {
    display: flex;
    flex-direction: column;
    
    gap: var(--spacing-16);
}

.card__img-frame {
    border: var(--border-width-1) solid var(--color-brown);
    border-radius: var(--border-radius-4);
    height: var(--img-height);
}

.card__img {
    object-fit: contain;
    height: 100%;
}

.footer {
    height: var(--header-height);
    background-color: var(--color-low-grey);
}