.cart-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--spacing-40);
}

.cart-card__img-frame {
    border: var(--border-width-1) solid var(--color-brown);
    border-radius: var(--border-radius-4);
    height: #{pxToRem(139px)};
}

.cart-card__img {
    object-fit: contain;
    height: 100%;
}

.cart-card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint($break-large) {
        flex-direction: row;
        justify-content: space-between;      
    }
}

.btn--filled-brown {
    @include breakpoint($break-large) {
        width: pxToRem(164px)    
    }
}