.cart-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--spacing-40);
}

.cart-card__img-frame {
    border: var(--border-width-1) solid var(--color-brown);
    border-radius: var(--border-radius-4);
    height: #{pxToRem(139px)};
}

.cart-card__img {
    object-fit: contain;
    height: 100%;
}

.cart-card__text {
    @include breakpoint($break-medium) {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        justify-content: space-between;  
    }
}

.cart-card__btn {
    background-color: var(--color-red);

    @include breakpoint($break-medium) {
        width: pxToRem(164px)    
    }
}